{
  "extends": ["ts-react-important-stuff", "prettier", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
